.buttons-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    gap: 8px;
}

.buttons-list__button {
    padding: 6px 22px;
  
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
  
    border: none;
    background-color: $backgroundGray;
    border-radius: 4px;
  
    transition-property: background-color, box-shadow, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        background-color: $accentColor;
        color: $fontWhite;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }