.subscription{
    margin-left: auto;
}

.subscription__container{
    display: flex;
    align-items:center;
  
    margin-top: 20px;
}

.subscription__input{
    width: 358px;
    height: 50px;
    padding-left: 16px;
    
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color:transparent;
    border-radius: 4px;


    &::placeholder{
        font-size: 16px;
        line-height: 1.25;
        color: rgba(255, 255, 255, 0.6);
    }
}


.subscription__button{
    display: flex;
    align-items: center;
    
  
    width: 200px;
    margin-top: 0;
    margin-left: 12px;
    padding-left: 29px;
    padding-right: 28px;
  
    border:none;
}

.subscription__icon{
    display: inline-block;
    height: 24px;
    margin-left: 10px;

    fill: $fontWhite;
}
  