.clients__title {
    margin-bottom: 50px;
  
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

.clients__list {
    display: flex;
    column-gap: 30px;
}

.clients__link {
    display: inline-block;
  
    width: 170px;
    padding: 16px 32px;
  
    border: 1px solid $iconsGray;
    border-radius: 4px;
    fill: $iconsGray;
  
    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        border-color: $accentColor;
        fill: $accentColor;
    }
}