.footer {
    padding-top: 60px;
    padding-bottom: 60px;
  
    background-color: $backgroundBlack;
}

.footer > .container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;

    @media screen and (min-width: 768px){
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 76px;
        padding-right: 89px;
        justify-content: space-between;
        align-items: baseline;
    }
}

.icons-box {
    // margin-left: 70px;
    text-align: center;
}

.footer__text{
    margin-bottom: 20px;
   
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: $fontWhite;
}


