.header-contacts {
    display: flex;
    // margin-left: auto;
    margin-top: 302px;
    flex-direction: column-reverse;
    // align-items: center;
    gap: 32px;
    @media screen and (min-width: 768px) {
      margin-top: 0;
    }
}

.header-contacts__link {
  display: flex;
  align-items: center;
  // padding-top: 10px;
  // padding-bottom: 10px;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: $fontGray;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus{
    color: $accentColor;
  }

  &--telephone{
    font-size: 34px;
    line-height: 1.17;
    color: $accentColor;
  }
}

.header-contacts__icon {
  display: none;
  // margin-right: 10px;
  // fill: $fontGray;

  // transition-property: fill;
  // transition-duration: 250ms;
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  // .header-contacts__link:hover &,
  // .header-contacts__link:focus &{
  //   fill: $accentColor;
  // }
}