.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.hedder-container {
  display: flex;
  align-items: center;

  padding-top: 16px;
  padding-bottom: 16px;
}

.header__menu{
  display: none;
}

.header__menu-button{
  display: block;
  padding: 0;
  margin-left: auto;

  background-color: transparent;
  border: none;
}