.herro{
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0px auto;

    text-align: center;

    background-color: $backgroundBlack;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url(../images/studio/background-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.herro__title{
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    color: $fontWhite;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.herro__button{
    padding: 10px 23px;
    min-width: 200px;

    font-family: inherit;
    color: $fontWhite;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    background-color: $accentColor;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus{
        background-color: #188ce8;
    }
}