.team-card{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
}

.team-card__title {
    margin-bottom: 10px;
  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.team-card__text {
    margin-bottom: 16px;
  
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: $fontGray;
}